body {
	background-image: url("../images/bg.jpg");
}

#RPG {
	font-size: 54px;
	font-family: 'Lekton', sans-serif;
}

.firstRow{
	border-style: solid;
	border-width: 3px;
	border-color: white;
	box-sizing: border-box;
	outline-style: solid;
	outline-color: limegreen;
	outline-width: 3px;
	align-items: center;


}

.name, .HP {
	text-align: center;
	font-size: 12px;
	font-family: 'Lekton', sans-serif;
	margin-bottom: 0px;
  color:blue;
}

#imageo, #imagel, #imageds, #imagedm {
	width: 96%;
	height: 65%;

}

.col-12 {

	font-size: 15px;
	font-family: 'Lekton', sans-serif;
  color:white;
}

.padLeft {
	padding-left: 20px;
	padding-top: 3px;


}

#picRow {
	width: 59%;

}
.float {
	float: left;
}
